<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>牛叶搜索-专业的牛股搜索网站！</title>
<meta name="keywords" content="牛叶-牛叶股票-搜股票网站-专业的股票搜索网站-买股票-哪支股票会涨-抓牛股-抓涨停" />
<meta name="description" content="牛叶搜索，专业的股票搜索网站，目标建立成为国内领先的股票搜索引擎，希望为广大股民提供更多更好的炒股决策支持" />
<meta name="applicable-device" content="pc">
<link rel="alternate" media="only screen and(max-width: 640px)" href="" >
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block css_file %}{% endblock %}
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
{% block body %}{% endblock %}
</html>